.container-black {
  margin-top:3%;
  background-color: #CDCDCD;
  border-radius: 25px; 
-webkit-box-shadow: -4px 20px 130px 17px rgba(205,205,205,1);
-moz-box-shadow: -4px 20px 130px 17px rgba(205,205,205,1);
box-shadow: -4px 20px 130px 17px rgba(205,205,205,1);
  opacity: 0.9;
  }
  
 

 #table-hover:hover {
	 color:black;
 }
 
 body {
	background-image:url(../images/curtains.jpeg);
 }
 
.navbar-nav > li > .dropdown-menu { 
	background-color: black;
	color:white;
	padding:15px;
	border-radius:15px;
}



.blackText {
	color:black;	
}

.error{
	color:red;
	font-size:14px;
}
